<!DOCTYPE html>
<html lang="zxx">

<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords"
		content="practo clone, Get Doctor, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="https://Get Doctor.dreamstechnologies.com/html/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Get Doctor">
	<meta property="og:description"
		content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="/assets/img/preview-banner.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="https://Get Doctor.dreamstechnologies.com/html/">
	<meta property="twitter:url" content="https://Get Doctor.dreamstechnologies.com/html/">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Get Doctor">
	<meta name="twitter:description"
		content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="assets/img/preview-banner.jpg">
	<title>Get Doctor</title>
	<script
		src="https://api.geoapify.com/v1/geocode/autocomplete?text=Mosco&apiKey=99d6c65c69374e6599c06423c5be87cf"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/assets/css/feather.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="/assets/css/aos.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/custom.css">
	<style>
		@media (min-width: 992px) {
			.mobile {
				display: none;
				margin-top: 20px;
			}
		}

		.profile-text {
			color: white;
			font-weight: bold;
			text-decoration: none;
			margin-left: 3vw;
			margin-top: 2vw;
			display: block;
			padding: 10px;
		}


		.profile-circle {
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			background-color: #f8f9fa;
		}

		/* Style for the user profile image */
		.profile-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* Style for the user dropdown menu */
		.dropdown-menu-profile {
			position: absolute;
			top: 60px;
			right: 0;
			z-index: 1000;
			min-width: 150px;
			padding: 10px;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		/* Style for the user dropdown menu items */
		.dropdown-menu-profile a {
			display: block;
			padding: 8px 15px;
			font-size: 14px;
			color: #333;
			text-decoration: none;
			transition: background-color 0.3s;
		}

		.dropdown-menu-profile a:hover {
			background-color: #f8f9fa;
		}



		.locationdrop {
			z-index: 10000;
			background-color: white;
			border: 1px solid rgba(0, 0, 0, 0.305);
			align-items: center;
			justify-content: space-between;
			position: absolute;
			width: 100%;
			height: 100px;


		}

		.locationdrop:hover {
			cursor: pointer;


		}
	</style>
	<style>
		.dropdown-item {
			padding: 10px;
			cursor: pointer;


		}

		.dropdown-item:hover {
			background-color: #f0f0f0;
			/* Change this to the color you want */
		}

		.btn-primary {
			background-color: #0E82FD !important;
			border-color: #0E82FD !important;
		}

		.reg-btn {
			background-color: white !important;
			border-color: white !important;
		}

		.reg-btn:hover {
			background-color: #0E82FD !important;
			border-color: #0E82FD !important;
		}

		.log-btn {
			background-color: #0E82FD;
			border-color: #0E82FD !important;
		}

		.log-btn:hover {
			background-color: white !important;
			border-color: white !important;

		}
	</style>
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper home-twelve">

		<!-- Header -->
		<!-- <header class="header header-custom header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="/" class="navbar-brand logo">
							<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">

							<li class="submenu">
								<a href="/">Home</a>
							</li>
							<li class="has-submenu">
								<a href="/findDoctor">Find Doctors</a>

							</li>
							<li class="submenu">
								<a href="/videoConsult">Video Consult</a>
								<ul class="submenu">

								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Emergency<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="/ambulance">Ambulance Services</a></li>

									<li><a href="/oxygen">Oxygen Cylinders</a></li>


								</ul>
							</li>
							<li class="has-submenu">
								<a href="/labtest">Lab Tests </a>

							</li>

							<li class="has-submenu">
								<a href="/Radiology">Radiology<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li> <a href="/Radiology#mri">MRI</a></li>
									<li> <a href="/Radiology#xray">X-Ray</a></li>
									<li> <a href="/Radiology#Ultrasound">Ultrasound</a></li>
									<li> <a href="/Radiology#endoscopy">Endoscopy</a></li>
									<li> <a href="/Radiology#Angiography">Angiography</a></li>
									<li> <a href="/Radiology#CT-Scan">CT-Scan</a></li>
								</ul>

							</li>
							<li class="submenu">
								<a href="/pricing">View Pricing</a>
							</li>
							<div class="mobile">
								<% if (loggedUser!="none" ) { %>
									<li class="nav-item dropdown has-arrow logged-item">
										<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
											<div class="profile-text">
												<span>
													<%= loggedUser.fullName %>
												</span>
												<i class="fas fa-chevron-down"></i>
											</div>
										</a>
										<div class="dropdown-menu dropdown-menu-profile">
											<a class="dropdown-item"
												href="<%= loggedUser.isDoctor ? '/myClinics' : '/patientDashboard' %> ">Dashboard</a>
											<a class="dropdown-item" href="/patientDashboard">For Patients</a>
											<a class="dropdown-item" href="/updateUser">Profile Settings</a>
											<a class="dropdown-item" href="/logout">Logout</a>
										</div>
									</li>
									<% } else { %>
										<li class="login-link"><a href="login"
												style="color:white; margin-left:6vw; margin-top:3vw;">Login / Signup</a>
										</li>
										<% } %>
							</div>



						</ul>
					</div>
					<ul class="nav header-navbar-rht"> -->

		<!-- Cart -->

		<!-- /Notifications -->

		<!-- User Menu -->
		<!-- <% if (loggedUser!="none" ) { %>

							<li class="nav-item dropdown has-arrow logged-item">
								<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
									<span class="user-img">
										<img class="rounded-circle"
											src="/<%= loggedUser.avatar.substring('src/public/'.length) %>" width="31"
											alt="avatar">
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="user-header">
										<div class="avatar avatar-sm">
											<img src="/<%= loggedUser.avatar.substring('src/public/'.length) %>"
												alt="User Image" class="avatar-img rounded-circle">

										</div>
										<div class="user-text">
											<h6>
												<%=loggedUser.fullName %>
											</h6>
											<p class="text-muted mb-0">
												<%= loggedUser.isDoctor ? 'Doctor' : 'User' %>
											</p>

										</div>
									</div>
									<a class="dropdown-item"
										href="<%= loggedUser.isDoctor ? '/myClinics' : '/patientDashboard' %> ">Dashboard</a>
									<a class="dropdown-item" href="/patientDashboard">For Patients</a>
									<a class="dropdown-item" href="/updateUser">Profile Settings</a>
									<a class="dropdown-item" href="/logout">Logout</a>
								</div>
							</li>
							<% } else { %> -->

		<!--<li class="login-link"><a href="login">Login / Signup</a></li>-->

		<!-- <li class="register-btn">
									<a href="register" class="btn reg-btn"><i class="feather-user"></i>Register</a>
								</li>
								<li class="register-btn">
									<a href="login" class="btn btn-primary log-btn"
										onmouseover="this.style.color='black'" onmouseout="this.style.color='white'"><i
											class="feather-lock"></i>Login</a>
								</li>
								<% } %>


					</ul>

				</nav>
			</div>
		</header> -->
<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Contact Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Contact Us -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-inner-header contact-inner-header">
                    <h6>Get in touch</h6>
                    <h2>Have Any Question?</h2>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-map-pin"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Address</h4>
                            <p>Naqashpora Opp Masjid sharief</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone Number</h4>
                            <p>+91 0000000000</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-mail"></i>
                        </div>
                        <div class="contact-details">
                            <h4 style="color: black;"><a href="mailto:support@getdoctor.com">Email Address</a></h4>
                            <p><a href="mailto:support@getdoctor.com">support@getdoctor.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 d-flex">
                <div class="card contact-form-card w-100">
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Email Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Email Address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Phone Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Services</label>
                                        <input type="text" class="form-control" placeholder="Enter Services">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="mb-2">Message</label>
                                        <textarea class="form-control" placeholder="Enter your comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-btn mb-0">
                                        <button type="submit" class="btn btn-primary prime-btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Contact Us -->

<!-- Contact Map -->
<div class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.761286077305!2d74.8114855!3d34.080067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e18f3a3e7e84bf%3A0x3b7345c068404e01!2sBarbar%20shah%20naqash%20pora!5e0!3m2!1sen!2sin!4v1669777904208!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- /Contact Map -->

<!-- Footer -->
<footer class="footer footer-one">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <a href="#"><img src="/assets/img/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-about-content">
                            <p>Online consultations with medical professionals, providing convenient access to
                                healthcare services from the comfort of your home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Getdoctor</h2>
                                <ul>
                                  
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/term-condition">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">More</h2>
                                <ul>
                                    <li><a href="/ambulance">Ambulance</a></li>
                          
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <p><i class="feather-map-pin"></i> Naqashpora Opp Masjid sharief</p>
                                    </div>
                                    <div class="footer-address">
                                        <p><i class="feather-phone-call"></i> +91 0000000000</p>
                                    </div>
                                    <div class="footer-address mb-0">
                                        <p><i class="feather-mail"></i>support@getdoctor.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7">
                    <div class="footer-widget">
                        <h2 class="footer-title">Social Media</h2>

                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a
                                        href="https://www.facebook.com/profile.php?id=61556208508283&mibextid=ZbWKwL"><i
                                            class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/getdoctor.in?igsh=MWtpam5jNTZ0bm1wNA=="><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://x.com/getdoctordotin?t=nhciWM9pBAo9HuE3ioukWA&s=09"><i
                                            class="fab fa-twitter"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0"> Copyright © 2024 <a href="#" target="_blank">Get Doctor.</a>
                                All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">



                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
</footer>


<!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Daterangepikcer JS -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>

</body>
</html>